.DS_Store
pretrained_model
**/__pycache__/
save_inference_results
latent_transform_adam_results
latent_optimization_adam_results
latent_transform_adam_results_pae
latent_optimization_adam_results_pae
weight_transform_results
latents_saved
meshes_saved
runs
generators_saved
latent_mapper_saved
eval_meshes
metrics_saved
opt_meshes_saved
out_of_domain_examples
saved_generators
extra_meshes
eval_meshes_sports_car
ablation
.ipynb_checkpoints
latent_opt_meshes_saved